{{define "yield"}}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card border-primary">
                <div class="card-header text-white bg-primary">
                    <h3 class="card-title">Welcome Back!</h3>
                </div>
                <div class="card-body">
                    {{template "loginForm"}}
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "loginForm"}}
<form action="/login" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
{{end}}